* {
  box-sizing: border-box;
  margin: 0px;
}

.background {
  width: 1024px;
  height: 600px;
  padding: 20px 0px 0px 20px;
  background-image: url("../images/background.png");
}

.outerbox {
  width: 808px;
  height: 544px;
  background-image: url("../images/outerbox.png");
}

.wrapper {
  display: flex;
  /* background-color: red; */
  padding: 32px 0px 0px 32px;
}

.wrapper__left {
  /* background-color: bisque; */
  width: 208px;
  height: 475px;
  display: flex;
  flex-direction: column;
}
.wrapper__left__header {
  width: 100%;
  height: 30px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.today {
  font-size: 9px;
}
.wrapper__left__body {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.left__body__header {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.left__body__header__gray {
  width: 148px;
  height: 133px;
  background-color: gray;
}

.left__body__header__line {
  border-top: 1px dotted black;
  margin: 12px 0px;
}
.left__body__profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.profile__detail {
  display: flex;
  flex-direction: row;
  font-family: 'Malgun Gothic';
  font-size: 9px;
  /* background-color: black; */
}

.left__body__footer {
  width: 100%;
  /* background-color: gray; */
  margin-bottom: 5px;
}
.footer__wrapper {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__feel__title {
  font-family: "Malgun Gothic";
  font-size: 11px;
  margin-bottom: 5px;
  color: #000000;
}
.footer__feel__select {
  border: 1px solid #ffffff;
  background-color: white;
}

/* right */
.wrapper__right {
  width: 542px;
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}

.wrapper__right__header {
  width: 510px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: flex-end;
}

.right__header__title,
.right__header__setting {
  color: #55b2e4;
  font-size: 9px;
}
.right__header__title {
  font-size: 16px;
}

.wrapper__right__body {
  /* width: 510px; */
  height: 445px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.navigation {
  width: 62px;
  height: 100px;
}